.s-hero {
  margin-top: 11.9rem;
  background-color: $purple;
  padding-top: 3.9rem;
  .container {
    @include flex(row, flex-start, space-between);
    .text {
      width: 100%;
      max-width: 55rem;
      h1 {
        color: $white;
        font-family: "PT Sans", sans-serif;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 1.6rem;
      }
      p {
        max-width: 48.8rem;
        color: $white;
        font-size: 1.8rem;
        line-height: 150%;
        margin-bottom: 3.2rem;
      }
      button {
        @include style-btn(5.4rem, $yellow, #4a3179);
        margin-bottom: 8.6rem;
      }
      .conheca {
        display: flex;
        align-items: center;
        .icon {
          width: 4.2rem;
          height: 4.2rem;
          background-color: rgba(123, 90, 186, 0.4);
          border-radius: 0.6rem;
          @include flex(row, center, center);
        }
        span {
          color: $white;
          font-size: 1.6rem;
          font-weight: 700;
          margin-left: 1.6rem;
        }
      }
    }
    .image {
      position: relative;
      top: 3.4rem;
    }
  }
  @include responsive(991px) {
    .container {
      flex-direction: column;
      .text {
        max-width: 100%;
        margin-bottom: 3rem;
        h1 {
          text-align: center;
        }
        p {
          max-width: 100%;
          text-align: center;
        }
        button {
          display: block;
          margin: 0 auto;
          margin-bottom: 3.9rem;
        }
        .conheca {
          justify-content: center;
        }
      }
    }
  }
  @include responsive(600px) {
    margin-top: 8rem;
    .container {
      .text {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }
}

.s-marketing {
  margin-top: 9.8rem;
  max-width: 100%;
  .text-marketing {
    @include flex(row, center, space-between);
    padding-top: 5rem;
    .left {
      h2 {
        max-width: 50.2rem;
        color: var($gray-01);
        font-family: "PT Sans", sans-serif;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 130%;
      }
      p {
        color: var($gray-02);
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
}
