@mixin responsive($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}

@mixin style-btn($height, $bg, $colorText) {
  display: inline-block;
  height: $height;
  line-height: $height;
  background-color: $bg;
  border-radius: 6px;
  padding: 0 5rem;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    background-color: $colorText;
    color: $bg;
  }
}
